body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(source/pexels-eberhardgross-691668.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; /* Resim tekrar etmez */
}
.main-container {
  margin: auto;
  margin-top: 100px;
  padding-top: 50px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: rgb(145, 142, 142, 0.5);
}
.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}
.profile-image:hover {
  transform: scale(0.9);
}
.name-title {
  font-size: 35px;
}

.job-title {
  font-size: 20px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 3px;
}

.main-container p {
  font-size: 18px;
  width: 400px;
  text-align: justify;
}

.socialmedia-icons{
    padding: 20px 0;
}
.main-container i{
    
    cursor: pointer;
    letter-spacing: 5px;
    color: white;
    font-size: 40px;
}
